<div id="social">
  <h4>Visit me on: 
    <a href="https://instagram.com/vnguyen94/" target="_blank"><i class="icon-instagram"></i></a>
    <a href="https://www.linkedin.com/pub/van-nguyen/92/64/1bb/" target="_blank"><i class="icon-linkedin"></i></a>
    <a href="https://github.com/vnguyen94/" target="_blank"><i class="icon-github"></i></a>
  </h4>
</div>

<br>

<h4>Or leave a note:</h4>
<h5>vnguyen94@gmail.com</h5>
<!--
<form name="form" novalidate>
  <div class="form-group">
    <input id="contact-name" type="text" class="form-control" ng-model="user.name" name="uName" placeholder="Name" required />
    <div ng-show="form.$submitted">
      <div ng-show="form.uName.$error.required">Tell us your name.</div>
    </div>
  </div>

  <div class="form-group">
    <input id="contact-address" type="email" class="form-control" ng-model="user.address" name="uAddress" placeholder="E-mail" required="" />
    <div ng-show="form.$submitted">
      <span ng-show="form.uAddress.$error.required">This is not a valid email.</span>
      <span ng-show="form.uAddress.$error.email">Tell us your email.</span>
    </div>
  </div>

  <div class="form-group">
    <input id="contact-subject" type="text" class="form-control" ng-model="user.subject" name="uSubject" placeholder="Subject" required />
    <div ng-show="form.$submitted">
      <div ng-show="form.uSubject.$error.required">Tell us your name.</div>
    </div>
  </div>
  
  <div class="form-group">
    <textarea id="contact-body" type="text" class="form-control" ng-model="user.body" rows="7" name="uBody" placeholder="Body" required>
    </textarea>
    <div ng-show="form.$submitted">
      <span ng-show="form.uBody.$error.required">Tell us your email.</span>
    </div>
  </div>

  <button type="submit" id="contact-button" class="btn btn-default" ng-click=sendEmail(user)>
    <span id="contact-text" class="glyphicon glyphicon-envelope"> Send</span>
  </button>
</form>
-->