<div class="separator-top">
  <a class="col-sm-5" href="http://warm-mesa-2414.herokuapp.com/" target="_blank"><img src="../static/projects/mhi.jpg"></img></a>
  <div class="col-sm-7">
  	<a href="http://warm-mesa-2414.herokuapp.com/" target="_blank">MHI Windpower Website (2014)</a>
  	<p>Website I built for my former company to replace the old website. Runs on a LAMP stack (Python with Flask); has fully functional back-end where different users have different views depending on job description (i.e. Admin, HR). HR can input new jobs as requested, which are scraped by Indeed.com every 24 hours and put into their job listing.</p>
  </div
></div>
<div class="separator">
	<a class="col-sm-5" href="http://vanflaskwebsite2.herokuapp.com/" target="_blank"><img src="../static/projects/website2.jpg"></img></a>
  <div class="col-sm-7">
  	<a href="http://vanflaskwebsite2.herokuapp.com/" target="_blank">Personal Website (2014)</a>
  	<p>Second (or third?) website I created with Flask + Python. Weak scalability, stopped progress once I realized what I wanted was a SPA. Resume page was fun to make.</p>
  </div>
</div>
<div class="separator">
	<a class="col-sm-5" href="https://github.com/vnguyen94/pyShotGame" target="_blank"><img src="../static/projects/pyshotgame.jpg"></img></a>
  <div class="col-sm-7">
  	<a href="https://github.com/vnguyen94/pyShotGame" target="_blank">pyShotGame (2013)</a>
  	<p>Collaboration between TC Nguyen and I. Contributed most of the game logic including random monster spawns, hitbox calculations and bulllet trajectories.</p>
  </div>
</div>
<div class="separator">
	<a class="col-sm-5" href="http://www.ics.uci.edu/~vknguye2/index.html" target="_blank"><img src="../static/projects/website.jpg"></img></a>
  <div class="col-sm-7">
  	<a href="http://www.ics.uci.edu/~vknguye2/index.html" target="_blank">Personal Website (2013)</a>
  	<p>First website I ever made: static, individually coded pages, zero templating. Most intensive use of Javascript -- copied and pasted from the internet -- is in the Photography section. Secret (not anymore) Konami code input on the contact page.</p>
  </div>
</div>
