<div ng-repeat="project in projects">
  <div class="separator-top" ng-if="$first">
    <a class="col-xs-12 col-md-6 col-lg-5" href="{{ project.source }}" target="_blank" ng-if="project.source"><img id="photography" src="{{ project.image }}"></img></a>
    <a class="col-xs-12 col-md-6 col-lg-5" href="#" ng-if="!project.source"><img id="photography" src="{{ project.image }}"></img></a>
    <div class="col-xs-12 col-md-6 col-lg-7">
      <a href="{{ project.source }}" target="_blank" ng-if="project.source">{{ project.title }}</a>
      <a href="#" ng-if="!project.source">{{ project.title }}</a>
      <a href="{{ project.github }}" target="_blank" ng-if="project.github"><i class="icon-github"></i></a>
      <p>{{ project.description }}</p>
    </div>
  </div>
  <div class="separator" ng-if="!$first">
    <a class="col-xs-12 col-md-6 col-lg-5" href="{{ project.source }}" target="_blank" ng-if="project.source"><img id="photography" src="{{ project.image }}"></img></a>
    <a class="col-xs-12 col-md-6 col-lg-5" href="#" ng-if="!project.source"><img id="photography" src="{{ project.image }}"></img></a>
    <div class="col-xs-12 col-md-6 col-lg-7">
      <a href="{{ project.source }}" target="_blank" ng-if="project.source">{{ project.title }}</a>
      <a href="#" ng-if="!project.source">{{ project.title }}</a>
      <a href="{{ project.github }}" target="_blank" ng-if="project.github"><i class="icon-github"></i></a>
      <p>{{ project.description }}</p>
    </div>
  </div>
</div>