<div>
	<h4>Skills<h4>

  <h5>
		<p>Primary: C++, Python, HTML5, CSS3, Photoshop, MySQL</p>
		<p>Secondary: Node.js, Java + Android, Javascript, MongoDB</p>
		<p>Frameworks: Flask, AngularJS, ExpressJS</p>
		<p>Miscellaneous: Git, Bootstrap, SASS</p>
	</h5>
</div>
<div class="work-history">
	<h4>Work History<h4>

	<div>
		<h4>MHI Windpower Americas, Inc. <span>(April 2014 - September 2014)</span></h4>
		<h5>IT/Developer</h5>
	  <ul>
	  	<li>Developed new company website (not currently deployed) for use by multiple departments</li>
	  	<li>Co-developed Windows app for technicians to use at wind turbines</li>
	  	<li>Tested and provided feedback on companywide rollout of ERP software</li>
	  </ul>
	</div>

	<div>
		<h4>vSked Android Application <span>(February 2014 - June 2014)</span></h4>
		<h5>UCI STAR Group Researcher</h5>
	  <ul>
	  	<li>Helped create an interactive visual scheduling system in an Android app, connecting multiple tablets to one teacher tablet, whose screen was projected onto a classroom-viewed screen</li>
	  	<li>Designed to be readily used for autistic kids in classrooms</li>
	  	<li>Worked in a team and coordinate/contribute to design and interface</li>
	  	<li>Programmed in the back-end, mainly worked on NFC chip integration with the tablets</li>
	  </ul>
	</div>

	<div>
		<h4>Donald Bren School of Information and Computer Sciences <span>(September 2013 - December 2013)</span></h4>
		<h5>Lab Tutor</h5>
	  <ul>
	  	<li>Tutored two classrooms of +20 students in assignments and core concepts of computer science</li>
	  	<li>Helped teaching assistants and professors in managing their courses</li>
	  	<li>Programmed in Python</li>
	  </ul>
	</div>

</div>